.expense-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: turquoise;
  padding: 2rem;
  border-radius: 5px;
}

.expense-item__description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-item__description h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #212121;
}

.expense-item__price {
  background-color: teal;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 5px;
}

button {
  background-color: #212121;
  color: #fafafa;
  font-family: inherit;
  font-weight: 500;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #fafafa;
  color: #212121;
}

@media screen and (max-width: 425px) {
  .expense-item {
    display: grid;
    grid-template-columns: 1fr;
  }
}
